/*=============================================== Cart Section ===============================================*/

.cart-summery h5{
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
.order-summery p{
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-align: left;
}
.cart-summery h6{
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.0015em;
    text-align: left;
}
.btn-area button{
    width: 100%;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 14px;
    margin-bottom: 15px;
    cursor: pointer;
}
.clear-cart-btn{
    background-color: #FF3030;
}
.clear-cart-btn:hover{
    background-color: #860505;
}
.review-order-btn{
    background-color: #FF9900;
}
.review-order-btn:hover{
    background-color: #814f03;
}
