.product-card{
    width: 300px;
    height: 524px;
    border: 1px solid rgba(149, 160, 167, 1);
    border-radius: 8px;
    position: relative;
}
.product-card img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 5px;
}
.product-card .img{    
    display: flex;
    justify-content: center;
}
.product-card .details{
    width: 90%;
    height: 55px;
    margin: auto;
}
.product-card .first-part{    
    height: 105px;
}
.product-card h6{
    font-size :21px;
    font-weight: 400;
    margin: 14px 0;
}
.product-card .subtitle{
    font-size: 17px;
    margin-bottom:47px;
    font-weight: 400;
}
.product-card p{
    font-size: 15px;
    line-height: 14.4px;
}
.product-card button{
    width: 100%;
    color: black;
    background-color: aliceblue;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 8px 8px;
    border-color: transparent;
    background-color: #FFE0B2;
    cursor: pointer;
    padding: 10px 0;
}
.product-card button:hover{
    background-color: #FF9900;
}